* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

th {
  text-align: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: black;
  
}
td {
  background-color: rgba(28, 121, 56, 0.2);
  border: 2px solid black;
}
table {
  margin-left: 50px;
  align-items: center;
  border: 2px solid white;
  
}
th {
  padding: 5px;
}
.approve {
  margin-left: 400px;
  position: relative;
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 10px 40px;

  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}
tbody tr :hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.login-box {
  background-repeat: repeat-y;
  background-color: rgb(216, 220, 225);
  width: 500px;
  background-size: cover;
  margin-left: 300px;
  color: rgb(15, 14, 14);
  position: relative;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 30px;
}
.alert-danger {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
}
.btn {
  border: none;
  color: white;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2pxsolid#4CAF50;
  border-radius: 10px;
}
.btn:hover {
  background-color: #4caf50;
  color: white;
}
lable {
  font-weight: bold;
  float: left;
  clear: both;
  margin-left: 5%;
  margin: 0pc;
}

input {
  float: right;
  clear: none;
  margin-right: 20px;
}
.ctype {
  float: right;
  clear: none;
  margin-right: 20px;
  padding: 4px;
  width: 11pc;
}
