th{
    background-color: black;
    text-align: left;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

td{
    background-color: rgba(28, 121, 56, 0.2);
    border: 2px solid black;
}
table{
    
    margin-left: 200px ;
    align-items: center;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    
}
tbody tr :hover {
    background-color: rgba(255,255,255,0.3);
}