<body>
  <div class="topnav">
    <a class="active">
      <img
      src="assets/MainLogo.png"
      width="100px"
      height="66px"
      style="float: left;border-radius:5px"
    /></a>
    <a style="margin-top:20px;margin-left:10px;"><b><I>E-SAATHI</I></b></a>
    
    &nbsp;
    <!--h2
      style=" 
        margin-top: -2px;
        margin-left: 100px;
        font-family: Cambria;">
      Farmer
    </h2>-->
    
  </div>
  <div class="sideNav">
    <ul>
      <li>
        <h3>
          <img
            src="assets/hammer (2).png"
            width="35px"
            height="35px"
            alt=""
          />&nbsp;
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif; font-size: 24px;
            "
            [routerLink]="['/farmerHome/sellCrop']"
            >Sell Crop</a
          >
        </h3>
      </li>
      
      <li>
        <h3>
          <img
            src="assets/history.png"
            width="40px"
            height="35px"
            alt=""
          />&nbsp;
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;font-size: 24px;
            "
            [routerLink]="['/farmerHome/soldHistory']"
            >Sold History</a
          >
        </h3>
      </li>
      <li>
        <h3>
          <img
            src="assets/marketplace.png"
            width="30px"
            height="30px"
            alt=""
          />&nbsp;
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;font-size: 24px;
            "
            [routerLink]="['/farmerHome/marketplace']"
            >MarketPlace</a
          >
        </h3>
      </li>
      <li>
        <h3>
          <img
            src="assets/marketplace.png"
            width="30px"
            height="30px"
            alt=""
          />&nbsp;
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;font-size: 24px;
            "
            [routerLink]="['/farmerHome/insuranceDashboard']"
            >Insurance</a
          >
        </h3>
      </li>
      <li>
        <h3>
          <img src="assets/wallet.png" width="30px" height="30px" />&nbsp;
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;font-size: 24px;
            "
            href="javascript:void(0)"
            (click)="bal()"
            >Wallet
          </a>
        </h3>
      </li>

      <li>
        <h3>
          <img src="assets/logout.jpg" width="30px" height="30px" />&nbsp;
          <a
            style="
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;font-size: 24px;
          "
            [routerLink]="['/Home']"
            >Log out</a
          >
        </h3>
      </li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</body>
