<form (ngSubmit)="Submitdata()">
  <div class="login-box" style="border-radius: 5%; box-shadow: black; margin-top:50px;">
    <!-- <img
      src="assets/farmer.jpg"
      width="225"
      height="135"
      style="display: block; margin-left: auto; margin-right: auto"
    /> -->
    <h1
      style="
        text-align: center;
        font-family: Cambria;
      "
    >
      Insurance Application
    </h1><br>

    <label for="t1">Insuree Name: </label>
    <input
      type="text"
      name="t1"
      [(ngModel)]="insurance.insureeName"
      required
      minlength="3"
      #iname="ngModel"
    />
    <div *ngIf="iname.invalid && (iname.dirty || iname.touched)" class="alert">
      <div *ngIf="iname.errors?.required">Insuree Name is Required!</div>

      <div *ngIf="iname.errors?.minlength">
        Insuree Name must be atleast 3 characters
      </div>
    </div>
    <br /><br />
    <label for="t2"> Area(in sqft): </label>
    <input
      type="number"
      name="t2"
      [(ngModel)]="insurance.area"
      required
      minlength="3"
      #area="ngModel"
    />
    <div *ngIf="area.invalid && (area.dirty || area.touched)" class="alert">
      <div *ngIf="area.errors?.required">Area is Required!</div>
    </div>
    <br /><br />
    <label for="t3"> Crop Name:</label>
    <input
      type="text"
      name="t3"
      [(ngModel)]="insurance.cropName"
      required
      minlength="3"
      #cname="ngModel"
    />
    <div *ngIf="cname.invalid && (cname.dirty || cname.touched)" class="alert">
      <div *ngIf="cname.errors?.required">Crop Name is Required!</div>
    </div>
    <br /><br />
    <label for="t4"> Crop Type:</label>
    <select
      class="ctype"
      [(ngModel)]="insurance.croptype"
      name="insurance"
      id="insuranceapproval"
      
    >
      <option value="Kharif">KHARIF</option>
      <option value="Rabi">RABI</option>
      <option value="Horiculture">HORICULTURE</option>
    </select>
    <br /><br />

    <label for="t5"> Sum Insured:</label>
    <input
      type="number"
      name="t5"
      [(ngModel)]="insurance.sumInsured"
      required
      #quan="ngModel"
    />
    <div *ngIf="quan.invalid && (quan.dirty || quan.touched)" class="alert">
      <div *ngIf="quan.errors?.required">Sum is Required!</div>
    </div>
    <br /><br />
    <div class="form-group form-check">
      <button (click)="calculation()" class="btn" style="margin-top: 20px">
        Submit</button
      ><br /><br />

      <!-- <button type="submit" class="btn btn-light btn-lg"
            style="  width: 100px;border-radius: 10%; margin-top: 10px; color: rgb(255, 254, 254); background-color: rgb(231, 19, 19);"
            ><h5>Apply</h5></button><br /><br /> -->
    </div>
  </div>
</form>
