<body>
  <div class="w3-top" >
    <div class="w3-bar" id="myNavbar">
      <a href="#home">
      <img
        src="assets/MainLogo.png"
        width="100px"
        height="70px"
        style="float: left; 
        border-radius: 10px;"
      /></a>
     
    </div>
  </div>

  <div class="main">
    <form (ngSubmit)="register()">
      <div class="login-box" style="border-radius: 5%; box-shadow: black">
        <img
          src="assets/bidderDp.png"
          width="135"
          height="135"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <h1
          style="
            text-align: center;
            font-family: Cambria;
          "
        >
          Bidder Registration
        </h1>

        <label for="t1"> First Name: </label>
        <input
          type="text"
          name="t1"
          [(ngModel)]="bidder.bidderFirstName"
          required
          minlength="3"
          #fname="ngModel"
        />
        <div
          *ngIf="fname.invalid && (fname.dirty || fname.touched)"
          class="alert"
        >
          <div *ngIf="fname.errors?.required"><br>First Name is Required</div>

          <div *ngIf="fname.errors?.minlength">
            <br>First Name must be atleast 3 characters
          </div>
        </div>
        <br /><br />
        <label for="t2"> Last Name: </label>
        <input
          type="text"
          name="t2"
          [(ngModel)]="bidder.bidderLastName"
          required
          minlength="3"
          #lname="ngModel"
        />
        <div
          *ngIf="lname.invalid && (lname.dirty || lname.touched)"
          class="alert"
        >
          <div *ngIf="lname.errors?.required"><br>Last Name is Required</div>

          <div *ngIf="lname.errors?.minlength"><br>
            Last Name must be atleast 3 character long
          </div>
        </div>
        <br /><br />

        <label for="t3">Email ID: </label>
        <input
          type="email"
          name="t3"
          [(ngModel)]="bidder.email"
          required
          email
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert"
        >
          <div *ngIf="email.errors?.required"><br>Email is Required</div>
          <div *ngIf="email.errors?.email"><br>
            Email is Wrong format! Right format : xyz@example.com
          </div>
        </div>
        <br /><br />
        <label for="t4">Password: </label>
        <input
          type="password"
          name="t4"
          [(ngModel)]="bidder.password"
          required
          minlength="6"
          #pass="ngModel"
        />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert">
          <div *ngIf="pass.errors?.required"><br>Enter you password</div>

          <div *ngIf="pass.errors?.minlength"><br>
            Password must be atleast 6 characters
          </div>
        </div>
        <br /><br />
        <label for="t5">Confirm Password: </label>
        <input
          type="password"
          name="t5"
          [(ngModel)]="bidder.password"
          required
          minlength="6"
          #cpass="ngModel"
        />
        <div
          *ngIf="cpass.invalid && (cpass.dirty || cpass.touched)"
          class="alert"
        >
          <div *ngIf="cpass.errors?.required"><br>Enter you password</div>

          <div *ngIf="cpass.errors?.minlength">
            <br>Password must be atleast 6 characters
          </div>
        </div>
        <br /><br />
        <label for="t6">Contact Number: </label>
        <input
          type="tel"
          name="t6"
          [(ngModel)]="bidder.contactNo"
          required
          minlength="10"
          maxlength="10"
          #cno="ngModel"
        />
        <div *ngIf="cno.invalid && (cno.dirty || cno.touched)" class="alert">
          <div *ngIf="cno.errors?.required"><br>Enter your number</div>

         <div *ngIf="cno.errors?.minlength || cno.errors?.maxlength"> <br>
            Number must be atleast 10 characters
          </div>
        </div>
        <br /><br />
        <label for="t7">Aadhar Number: </label>
        <input
          type="tel"
          name="t7"
          [(ngModel)]="bidder.aadharNo"
          required
          minlength="12"
          maxlength="12"
          #ano="ngModel"
        />
        <div *ngIf="ano.invalid && (ano.dirty || ano.touched)" class="alert">
          <div *ngIf="ano.errors?.required"><br>Enter your Aadhar number</div>

          <div *ngIf="ano.errors?.minlength || ano.errors?.maxlength">
            <br> Aadhar Number must be 12 characters
          </div>
        </div>
        <br /><br />
        <label for="t8">Trader Licence Number: </label>
        <input
          type="tel"
          name="t8"
          [(ngModel)]="bidder.traderLicenseNo"
          required
          minlength="2"
          #tno="ngModel"
        />
        <div *ngIf="tno.invalid && (tno.dirty || tno.touched)" class="alert">
         <div *ngIf="tno.errors?.required">
          <br>  Enter your TLN
          </div>

          <div *ngIf="tno.errors?.minlength">
            <br> Trader Licence Number must be min 2 characters
          </div>
        </div>
        <br /><br />
        <label for="t9">Balance: </label>
        <input
          type="number"
          name="t9"
          [(ngModel)]="bidder.balance"
          required
          minlength="4"
          #bal="ngModel"
        />
        <div *ngIf="bal.invalid && (bal.dirty || bal.touched)" class="alert">
          <div *ngIf="bal.errors?.required"><br>Enter your Balance</div>

          <div *ngIf="bal.errors?.length"><br>Balance must be above Rs. 1000</div>
        </div>
        <br /><br />
        <button class="btn" type="submit">Register</button><br><br>
        <a routerLink="/BidderLogin">Already Registered? Login Here!!</a>
      </div>
    </form>
  </div>
</body>
