<body>
  <div class="sideNav">
    <ul>
      <li>
        <h3>
          <img
            src="assets/hammer (2).png"
            width="35px"
            height="35px"
            alt=""
          />&nbsp;
          <a [routerLink]="['/farmerHome/ApplyInsurance']">Apply Insurance</a>
        </h3>
      </li>
      <li>
        <h3>
          <img
            src="assets/history.png"
            width="40px"
            height="35px"
            alt=""
          />&nbsp;
          <a [routerLink]="['/farmerHome/ClaimInsurance']">Claim Insurance</a>
        </h3>
      </li>
      <li>
        <h3>
          <img
            src="assets/history.png"
            width="40px"
            height="35px"
            alt=""
          />&nbsp;
          <a [routerLink]="['/farmerHome/ViewInsurance']">View Insurance</a>
        </h3>
      </li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</body>
