<div class="main">
  <form (ngSubmit)="register()">
    <div class="login-box" style="border-radius: 5%; box-shadow: black">
      <img
        src="assets/farmer.jpg"
        width="135"
        height="135"
        style="display: block; margin-left: auto; margin-right: auto"
      />
      <h1
        style="
          text-align: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        Sell Crop Details
      </h1>

      <label for="t1"> Crop Name:</label>
      <input
        type="text"
        style="width: auto"
        name="t1"
        [(ngModel)]="crop.cropName"
        required
        minlength="3"
        #cname="ngModel"
      /><br />
      <br />
      <div
        *ngIf="cname.invalid && (cname.dirty || cname.touched)"
        class="alert"
      >
        <div *ngIf="cname.errors?.required">Crop Name is Required!</div>

        <div *ngIf="cname.errors?.minlength">
          Crop Name must be atleast 3 characters long
        </div>
      </div>

      <label for="t2"> Crop Type:</label>

      <select
        class="ctype"
        [(ngModel)]="crop.croptype"
        name="insurance"
        id="insuranceapproval"
      >
         
        <option value="Kharif">KHARIF</option>
        <option value="Rabi">RABI</option>
        <option value="Horiculture">HORTICULTURE</option>
      </select>
      <br /><br />

      <label for="t3"> Fertilizer:</label>
      <input
        type="text"
        name="t3"
        [(ngModel)]="crop.fertilizertype"
        required
        minlength="3"
        #ftype="ngModel"
      /><br /><br />
      <div
        *ngIf="ftype.invalid && (ftype.dirty || ftype.touched)"
        class="alert"
      >
        <div *ngIf="ftype.errors?.required">Fertilizer Type is Required!</div>
      </div>

      <label for="t4"> Quantity:</label>
      <input
        type="number"
        name="t4"
        [(ngModel)]="crop.quantity"
        required
        #quan="ngModel"
      /><br /><br />
      <div *ngIf="quan.invalid && (quan.dirty || quan.touched)" class="alert">
        <div *ngIf="ftype.errors?.required">Quantity is Required!</div>
      </div>

      <label for="t5"> Base Price:</label>
      <input
        type="number"
        name="t5"
        [(ngModel)]="crop.baseprice"
        required
        #bp="ngModel"
      /><br /><br />
      <div *ngIf="bp.invalid && (bp.dirty || bp.touched)" class="alert">
        <div *ngIf="bp.errors?.required">Base Price is Required!</div>
      </div>

      <button style="margin-left: 40%" type="submit">Submit</button>
    </div>
  </form>
</div>
