*{
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
  }
  body{
   
    background-repeat: no-repeat;
    background-size:cover;
    height: 60em;
    font-family: Cambria;
}
  .header
  {
    min-width: fit-content;
    min-height: 10vh;
    color: black;
    background: #ace973;
    right:0;
    width: 100vw;
  }
  a{
    color: black;
    text-decoration: none
  }
  a  :visited{
    color: #3c40c6;
  }
  a:hover{
    text-decoration: none;
  }
  ul li
  {
   
    list-style: none;
  }
  h4{
    color: #3c40c6;
  }
  .sideNav
  {
    position: absolute;
    background: rgb(171, 220, 237);
    width:20vw;
    height: max-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    top:100px;
    border-radius: 15px;
  }
  /* .sideNav .logo
  {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .sideNav li{
    padding: 30px;
    color: #7f8c8d;
    display: flex;
    /* align-items: ; */
  }
  .sideNav li:hover{
    background: rgb(250, 250, 250);
    color: #05c46b;
    border-radius: 10px;
  }
  .main
  {
    margin-left: 280px;
    width: 100vw;
    height: 100vh;
    position: left;
  }

  .topnav {
    background-color: #3096fb;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /*background-color: #ddd;*/
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #fbfefd;
    color: white;
  }