<!-- <div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
                <h1>00</h1>
                <h3>Farmer Count</h3>
            </div>
            <div class="icon">
                <img src="assets/indian-farmer.png" alt="">
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>00</h1>
                <h3>Bidder Count</h3>
            </div>
            <div class="icon">
                <img src="assets/bidder.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>00</h1>
                <h3>Insurance Applied</h3>
            </div>
            <div class="icon">
                <img src="assets/insurance.png" alt="">
            </div>
        </div>
    </div>
</div> -->