<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-blue w3-card" id="myNavbar">
      <img
        src="assets/MainLogo.png"
        width="100px"
        height="70px"
        style="float: left"
      />

      <a href="#home" class="w3-bar-item w3-button w3-large w3-hover-opacity"
        ><b><I>E-SAATHI</I></b></a
      >

      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small" style="margin-top: 0.5%">
        <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-pencil fa-fw" aria-hidden="true"> </i> ABOUT</a>

        <a href="#contact" class="w3-bar-item w3-button"
          ><i class="fa fa-envelope"></i> CONTACT
        </a>
        <div class="dropdown">
          <button class="dropbtn">
            Login
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/AdminLogin">Admin</a>
            <a routerLink="/FarmerLogin">Farmer</a>
            <a routerLink="/BidderLogin">Bidder</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            SignUp
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/FarmerRegistration">Farmer</a>
            <a href="/BidderRegistration">Bidder</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header with full-height image -->
  <header class="bgimg-1" id="home">
    <div
      class="w3-text-black w3-container w3-center w3-display-middle"
      style="padding: 48px"
    >
      <span
        class="w3-jumbo w3-hide-small w3-margin-bottom"
        style="font-size: xx-small;margin-left: 400px;margin-right: -400px;text-shadow: 1px 1px 0 #444; color: lightgreen;"
        >Schemes For Farmers</span>
        
        <br />
      <p>
        <a
          href="#about"
          class="w3-button w w3-blue w3-margin-bottom w3-padding-large w3-large w3-hover-opacity-on"
          style="margin-left: 350px;"
          >Learn more about us</a
        >
      </p>
    </div>
    <div
      class="w3-display-bottomleft w3-text-black w3-large"
      style="padding: 14px 50px"
    ></div>
  </header>

  <!-- About Section -->
  <div class="w3-container" style="padding: 108px 16px" id="about">
    <h3
      class="w3-center w3-jumbo"
      style="background: white; font-weight: bolder"
    >
      ABOUT US
    </h3>

    <div class="w3-row-padding w3-center" style="margin-top: 64px"></div>
    <div class="w3-right">
      <div class="container-fluid" style="background-color: rgb(171, 220, 237)">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center py-5">
              <!-- <h1 style="color: #90c43e;">KISAAN BAZAAR</h1> -->
              <!-- <img src="assets/mission.jpg" width="350" height="250"> -->
              <br />
              <p
                style="text-align: center;font-weight: bolder; font-size: 25px; font-style: italic"
                
              >
              E-SAATHI is an Agriculture domain project.
              </p>
              
              <p style="font-size: 20px">
                
                Agriculture is the backbone of the Indian Economy"- said Mahatma 
                Gandhi six decades ago. Even today, the situation is still the same, 
                with almost the entire economy being sustained by agriculture, which 
                is the mainstay of the villages. It contributes 16% of the overall GDP 
                and accounts for employment of approximately 52% of the Indian population. 
                Rapid growth in agriculture is essential not only for self-reliance but 
                also to earn valuable foreign exchange.
                <br/>                
                <br />
                Farmers will get new ideas to improve their productivity, they can buy and 
                sell their products online from different cities through the process of bidding.
                <br />
                We are implementing a system which is automated and helps to reduce the burden on 
                farmers as well as the system. We are providing an online means to apply and claim 
                insurance which will help the system to work efficiently and enhance smooth handling 
                of records.
                <br />
                <br/>
                The Government of India provides various schemes for farmers, but due to lack of awareness 
                and miscommunication, farmers do not avail these benefits. Hence, we try to integrate some 
                of the schemes like Fasal Bima Yojna and Bidding of Crops scheme.
                <br />
                <br />
                
              </p>
              <br />
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center py-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div
    class="w3-container w3-light-grey"
    style="padding: 128px 16px; font-weight: bolder"
    id="contact"
  >
    <h3 class="w3-center" style="font-weight: bolder">CONTACT US</h3>
    <div class="w3-center" style="margin-top: 48px">
      <p>
        <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> L&T
        Infotech, Mahape, Navi Mumbai
      </p>
      <p>
        <i class="fa fa-mobile fa-fw w3-xxlarge w3-margin-right"></i>Phone:
        +91-9999999999
      </p>
      <p>
        <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email:
        farmerscheme@lti.com
      </p>

      <br />
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-light-blue w3-padding-64">
    <a href="#home" class="w3-button w3-black"
      ><i class="fa fa-arrow-up w3-margin-right"></i>TOP</a
    >
    <div class="w3-xxlarge w3-section "></div>
    <p>SCHEME FOR FARMERS / L&T Infotech</p>
  </footer>
</body>
